body{
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  background-color: rgb(240, 240, 240);
  width: 60%;
  margin: auto;
  align-items: center;
  gap: 1vw;
  padding-bottom: 2vw;
}

image{
  width: 60%;
}
a{
  width: auto;
  text-decoration: none;
  color: green;
}


@media screen and (max-width: 1000px) {
  body{
    scale: 0.6;
  }
}

@media screen and (max-width: 800px) {
  body{
    width: 15vw;
    scale: 0.3;
    padding-bottom: 0.5vw;
  }
  a{
    font-size: 25vw;
  }
  div{
    font-size: 25vw;
    display: flex;
    gap: 2vw;
  }

}
