
.wrapper{
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  background-color: rgb(240, 240, 240);
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  gap: 1vw;
  padding-bottom: 2vw;
}

image{
  width: 60%;
}
a{
  width: auto;
}


@media screen and (max-width: 1000px) {
  body{
    scale: 0.6;
  }
}

@media screen and (max-width: 800px) {
  body{
    width: 100%;
    height: 85vh;
    scale: 0.4;
    padding-bottom: 0.5vw;
  }
  

  div{
    direction: rtl;
    width: fit-content;
    font-size: 15vw;
    display: flex;
    gap: 2vw;
  }
  div > span{
    overflow: hidden;
    white-space:nowrap;
  }

}
